/* _variables.scss */

$border-color: #eee;

$accent-light: #03b5aa;
$accent-dark: #037971;
$text-color: #0a0908;
$page-background-color: #dcdcdd;
$component-background-color: #c5c3c6;

/* Coolors Exported Palette - coolors.co/03b5aa-037971-0a0908-dcdcdd-c5c3c6 */